In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.newchic.com/flats-c-3616/?country=63&conversionType=US&from=nav'
html = urlopen(url)

In [3]:
soup = BeautifulSoup(html)

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_86\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_86\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [4]:
data_name = soup.findAll('p', class_='wom_lst_name ellipsis')
data_name

[<p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1562778.html?rmmds=category" target="_blank" title="Men PU Leather British Style Casual Shoes">Men PU Leather British Style Casual Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1562773.html?rmmds=category" target="_blank" title="Men Outdoor Waterproof Warm Lining Ankle Boots">Men Outdoor Waterproof Warm Lining Ankle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-flats-3616/p-1561357.html?rmmds=category" target="_blank" title="Menico Men Genuine Leather Soft Sole Shoes ">Menico Men Genuine Leather Soft Sole Shoes </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-flats-3616/p-1560583.html?rmmds=category" target="_blank" title="Menico Genuine Cow Leather Hole Loafers">Menico Genuine Cow Leather Hole Loafers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1560580.html?rmmds=category" target="_blank" title="Men Stylish Color Blocking Leather Shoes">Men Stylish Color Blocking Leather Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1560332.html?rmmds=category" target="_blank" title="Men Cloth Breathable Slip-ons Casual Shoes ">Men Cloth Breathable Slip-ons Casual Shoes </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-flats-3616/p-1560333.html?rmmds=category" target="_blank" title="Menico Men Leather Non Slip Soft Casual Driving Shoes">Menico Men Leather Non Slip Soft Casual Driving Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1560330.html?rmmds=category" target="_blank" title="Men Canvas Breathable Casual Shoes">Men Canvas Breathable Casual Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-flats-3616/p-1560324.html?rmmds=category" target="_blank" title="Men Hand Stitching Soft Sole Leather Shoes">Men Hand Stitching Soft Sole Leather Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1560325.html?rmmds=category" target="_blank" title="Men Non Slip Soft Casual Leather Shoes">Men Non Slip Soft Casual Leather Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1560322.html?rmmds=category" target="_blank" title="Men Hand Stitching Leather Soft Casual Shoes">Men Hand Stitching Leather Soft Casual Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1559449.html?rmmds=category" target="_blank" title="Men Comfy Round Toe Leather Shoes">Men Comfy Round Toe Leather Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1559448.html?rmmds=category" target="_blank" title="Men Brogue Leather Splicing Oxfords">Men Brogue Leather Splicing Oxfords</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1559445.html?rmmds=category" target="_blank" title="Men Comfy Soft Leather Shoes">Men Comfy Soft Leather Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1559204.html?rmmds=category" target="_blank" title="Men Leather Splicing Non Slip Casual Shoes ">Men Leather Splicing Non Slip Casual Shoes </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-flats-3616/p-1558828.html?rmmds=category" target="_blank" title="Men Genuine Cow Leather Comfy Loafers">Men Genuine Cow Leather Comfy Loafers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1558826.html?rmmds=category" target="_blank" title="Men Comfy Soft Cow Leather Shoes">Men Comfy Soft Cow Leather Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1558825.html?rmmds=category" target="_blank" title="Men Comfy Anti-collision Toe Leather Loafers">Men Comfy Anti-collision Toe Leather Loafers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-flats-3616/p-1558669.html?rmmds=category" target="_blank" title="Menico Men Slip On Casual Leather Shoes ">Menico Men Slip On Casual Leather Shoes </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-flats-3616/p-1558670.html?rmmds=category" target="_blank" title="Menico Men Hand Stitching Leather Shoes">Menico Men Hand Stitching Leather Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1558667.html?rmmds=category" target="_blank" title="Men Non Slip Soft Leather Casual Driving Shoes">Men Non Slip Soft Leather Casual Driving Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1558666.html?rmmds=category" target="_blank" title="Men Canvas Slip On Soft Casual Shoes">Men Canvas Slip On Soft Casual Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-flats-3616/p-1558129.html?rmmds=category" target="_blank" title="Menico Comfy Round Toe Leather Loafers">Menico Comfy Round Toe Leather Loafers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-flats-3616/p-1558127.html?rmmds=category" target="_blank" title="Menico Comfy Microfiber Leather Loafers">Menico Comfy Microfiber Leather Loafers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-flats-3616/p-1558065.html?rmmds=category" target="_blank" title="Men Cow Leather Soft Sole Causal Shoes ">Men Cow Leather Soft Sole Causal Shoes </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-flats-3616/p-1558062.html?rmmds=category" target="_blank" title="Men Microfiber Leather Non Slip Casual Shoes">Men Microfiber Leather Non Slip Casual Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-flats-3616/p-1558063.html?rmmds=category" target="_blank" title="Men Microfiber Leather Non-slip Outdoor Shoes ">Men Microfiber Leather Non-slip Outdoor Shoes </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1557612.html?rmmds=category" target="_blank" title="Men Stylish Microfiber Leather Oxfords">Men Stylish Microfiber Leather Oxfords</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-flats-3616/p-1557613.html?rmmds=category" target="_blank" title="Menico Men Vintage Comfy Suede Loafers">Menico Men Vintage Comfy Suede Loafers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1557610.html?rmmds=category" target="_blank" title="Men Outdoor Work Style Comfy Shoes">Men Outdoor Work Style Comfy Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1557605.html?rmmds=category" target="_blank" title="Men Washed Canvas Soft Slip On Casual Shoes">Men Washed Canvas Soft Slip On Casual Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1557599.html?rmmds=category" target="_blank" title="Men Hand Stitching Non-slip Casual Leather Shoes ">Men Hand Stitching Non-slip Casual Leather Shoes </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1557177.html?rmmds=category" target="_blank" title="Men Hand Stitching Non Slip Leather Shoes">Men Hand Stitching Non Slip Leather Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/flats-3616/p-1557171.html?rmmds=category" target="_blank" title="Men Cow Leather Non Slip Casual Driving Shoes ">Men Cow Leather Non Slip Casual Driving Shoes </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-flats-3616/p-1557079.html?rmmds=category" target="_blank" title="Menico Men Comfy Round Toe Leather Loafers">Menico Men Comfy Round Toe Leather Loafers</a>
 </p>]

In [5]:
## Clean Data ##
import re
Names = []
for li in data_name:
    str_name = str(li)
    pattern = '<.*?>'
    clean_name = re.sub(pattern, '', str_name)
    Names.append(clean_name)
Names

['\nMen PU Leather British Style Casual Shoes\n',
 '\nMen Outdoor Waterproof Warm Lining Ankle Boots\n',
 '\n Menico\nMenico Men Genuine Leather Soft Sole Shoes \n',
 '\n Menico\nMenico Genuine Cow Leather Hole Loafers\n',
 '\nMen Stylish Color Blocking Leather Shoes\n',
 '\nMen Cloth Breathable Slip-ons Casual Shoes \n',
 '\n Menico\nMenico Men Leather Non Slip Soft Casual Driving Shoes\n',
 '\nMen Canvas Breathable Casual Shoes\n',
 '\n Menico\nMen Hand Stitching Soft Sole Leather Shoes\n',
 '\nMen Non Slip Soft Casual Leather Shoes\n',
 '\nMen Hand Stitching Leather Soft Casual Shoes\n',
 '\nMen Comfy Round Toe Leather Shoes\n',
 '\nMen Brogue Leather Splicing Oxfords\n',
 '\nMen Comfy Soft Leather Shoes\n',
 '\nMen Leather Splicing Non Slip Casual Shoes \n',
 '\n Menico\nMen Genuine Cow Leather Comfy Loafers\n',
 '\nMen Comfy Soft Cow Leather Shoes\n',
 '\nMen Comfy Anti-collision Toe Leather Loafers\n',
 '\n Menico\nMenico Men Slip On Casual Leather Shoes \n',
 '\n Menico\nMenico Men Hand Stitching Leather Shoes\n',
 '\nMen Non Slip Soft Leather Casual Driving Shoes\n',
 '\nMen Canvas Slip On Soft Casual Shoes\n',
 '\n Menico\nMenico Comfy Round Toe Leather Loafers\n',
 '\n Menico\nMenico Comfy Microfiber Leather Loafers\n',
 '\n Menico\nMen Cow Leather Soft Sole Causal Shoes \n',
 '\n Menico\nMen Microfiber Leather Non Slip Casual Shoes\n',
 '\n Menico\nMen Microfiber Leather Non-slip Outdoor Shoes \n',
 '\nMen Stylish Microfiber Leather Oxfords\n',
 '\n Menico\nMenico Men Vintage Comfy Suede Loafers\n',
 '\nMen Outdoor Work Style Comfy Shoes\n',
 '\nMen Washed Canvas Soft Slip On Casual Shoes\n',
 '\nMen Hand Stitching Non-slip Casual Leather Shoes \n',
 '\nMen Hand Stitching Non Slip Leather Shoes\n',
 '\nMen Cow Leather Non Slip Casual Driving Shoes \n',
 '\n Menico\nMenico Men Comfy Round Toe Leather Loafers\n']

In [6]:
df = pd.DataFrame(Names)
df.head()

                                                   0
0      \nMen PU Leather British Style Casual Shoes\n
1  \nMen Outdoor Waterproof Warm Lining Ankle Boo...
2  \n Menico\nMenico Men Genuine Leather Soft Sol...
3  \n Menico\nMenico Genuine Cow Leather Hole Loa...
4       \nMen Stylish Color Blocking Leather Shoes\n

In [7]:
df[0] = df[0].str.strip('\n')
df.head()

                                                   0
0          Men PU Leather British Style Casual Shoes
1     Men Outdoor Waterproof Warm Lining Ankle Boots
2   Menico\nMenico Men Genuine Leather Soft Sole ...
3    Menico\nMenico Genuine Cow Leather Hole Loafers
4           Men Stylish Color Blocking Leather Shoes

In [8]:
df.index.name = 'ID'
df.head()

                                                    0
ID
0           Men PU Leather British Style Casual Shoes
1      Men Outdoor Waterproof Warm Lining Ankle Boots
2    Menico\nMenico Men Genuine Leather Soft Sole ...
3     Menico\nMenico Genuine Cow Leather Hole Loafers
4            Men Stylish Color Blocking Leather Shoes

In [9]:
df.rename(columns={0:'Names'}, inplace=True)

In [10]:
df['Names'].replace('\n','', regex=True, inplace=True)
df

                                                Names
ID
0           Men PU Leather British Style Casual Shoes
1      Men Outdoor Waterproof Warm Lining Ankle Boots
2    MenicoMenico Men Genuine Leather Soft Sole Sh...
3       MenicoMenico Genuine Cow Leather Hole Loafers
4            Men Stylish Color Blocking Leather Shoes
5         Men Cloth Breathable Slip-ons Casual Shoes
6    MenicoMenico Men Leather Non Slip Soft Casual...
7                  Men Canvas Breathable Casual Shoes
8    MenicoMen Hand Stitching Soft Sole Leather Shoes
9              Men Non Slip Soft Casual Leather Shoes
10       Men Hand Stitching Leather Soft Casual Shoes
11                  Men Comfy Round Toe Leather Shoes
12                Men Brogue Leather Splicing Oxfords
13                       Men Comfy Soft Leather Shoes
14        Men Leather Splicing Non Slip Casual Shoes
15        MenicoMen Genuine Cow Leather Comfy Loafers
16                   Men Comfy Soft Cow Leather Shoes
17       Men Comfy Anti-collision Toe Leather Loafers
18     MenicoMenico Men Slip On Casual Leather Shoes
19      MenicoMenico Men Hand Stitching Leather Shoes
20     Men Non Slip Soft Leather Casual Driving Shoes
21               Men Canvas Slip On Soft Casual Shoes
22       MenicoMenico Comfy Round Toe Leather Loafers
23      MenicoMenico Comfy Microfiber Leather Loafers
24      MenicoMen Cow Leather Soft Sole Causal Shoes
25   MenicoMen Microfiber Leather Non Slip Casual ...
26   MenicoMen Microfiber Leather Non-slip Outdoor...
27             Men Stylish Microfiber Leather Oxfords
28       MenicoMenico Men Vintage Comfy Suede Loafers
29                 Men Outdoor Work Style Comfy Shoes
30        Men Washed Canvas Soft Slip On Casual Shoes
31  Men Hand Stitching Non-slip Casual Leather Shoes
32          Men Hand Stitching Non Slip Leather Shoes
33     Men Cow Leather Non Slip Casual Driving Shoes
34   MenicoMenico Men Comfy Round Toe Leather Loafers

In [11]:
data_price = soup.findAll('span', class_='price product-price-js')
data_price

[<span class="price product-price-js" oriprice="26.1" rule_final_price="">438.74E£</span>,
 <span class="price product-price-js" oriprice="54.35" rule_final_price="">913.62E£</span>,
 <span class="price product-price-js" oriprice="64.51" rule_final_price="">1,084.41E£</span>,
 <span class="price product-price-js" oriprice="64.85" rule_final_price="">1,090.13E£</span>,
 <span class="price product-price-js" oriprice="51.45" rule_final_price="">864.87E£</span>,
 <span class="price product-price-js" oriprice="39.86" rule_final_price="">670.05E£</span>,
 <span class="price product-price-js" oriprice="58.48" rule_final_price="">983.05E£</span>,
 <span class="price product-price-js" oriprice="18.99" rule_final_price="">319.22E£</span>,
 <span class="price product-price-js" oriprice="44.96" rule_final_price="">755.78E£</span>,
 <span class="price product-price-js" oriprice="45.26" rule_final_price="">760.82E£</span>,
 <span class="price product-price-js" oriprice="51.13" rule_final_price="">859.49E£</span>,
 <span class="price product-price-js" oriprice="32.71" rule_final_price="">549.85E£</span>,
 <span class="price product-price-js" oriprice="31.76" rule_final_price="">533.88E£</span>,
 <span class="price product-price-js" oriprice="40.99" rule_final_price="">689.04E£</span>,
 <span class="price product-price-js" oriprice="44.62" rule_final_price="">750.06E£</span>,
 <span class="price product-price-js" oriprice="46.75" rule_final_price="">785.87E£</span>,
 <span class="price product-price-js" oriprice="33.99" rule_final_price="">571.37E£</span>,
 <span class="price product-price-js" oriprice="51.95" rule_final_price="">873.28E£</span>,
 <span class="price product-price-js" oriprice="36.62" rule_final_price="">615.58E£</span>,
 <span class="price product-price-js" oriprice="37.43" rule_final_price="">629.20E£</span>,
 <span class="price product-price-js" oriprice="48.75" rule_final_price="">819.49E£</span>,
 <span class="price product-price-js" oriprice="24.91" rule_final_price="">418.74E£</span>,
 <span class="price product-price-js" oriprice="37.79" rule_final_price="">635.25E£</span>,
 <span class="price product-price-js" oriprice="38.45" rule_final_price="">646.34E£</span>,
 <span class="price product-price-js" oriprice="61.26" rule_final_price="">1,029.78E£</span>,
 <span class="price product-price-js" oriprice="37.43" rule_final_price="">629.20E£</span>,
 <span class="price product-price-js" oriprice="37.43" rule_final_price="">629.20E£</span>,
 <span class="price product-price-js" oriprice="37.56" rule_final_price="">631.38E£</span>,
 <span class="price product-price-js" oriprice="56.75" rule_final_price="">953.97E£</span>,
 <span class="price product-price-js" oriprice="55.95" rule_final_price="">940.52E£</span>,
 <span class="price product-price-js" oriprice="26.75" rule_final_price="">449.67E£</span>,
 <span class="price product-price-js" oriprice="46.13" rule_final_price="">775.44E£</span>,
 <span class="price product-price-js" oriprice="52.92" rule_final_price="">889.58E£</span>,
 <span class="price product-price-js" oriprice="52.92" rule_final_price="">889.58E£</span>,
 <span class="price product-price-js" oriprice="38.45" rule_final_price="">646.34E£</span>]

In [12]:
## Clean Data ##
import re
Prices = []
for li in data_price:
    str_name = str(li)
    pattern = '<.*?>'
    clean_name = re.sub(pattern, '', str_name)
    Prices.append(clean_name)
Prices

['438.74E£',
 '913.62E£',
 '1,084.41E£',
 '1,090.13E£',
 '864.87E£',
 '670.05E£',
 '983.05E£',
 '319.22E£',
 '755.78E£',
 '760.82E£',
 '859.49E£',
 '549.85E£',
 '533.88E£',
 '689.04E£',
 '750.06E£',
 '785.87E£',
 '571.37E£',
 '873.28E£',
 '615.58E£',
 '629.20E£',
 '819.49E£',
 '418.74E£',
 '635.25E£',
 '646.34E£',
 '1,029.78E£',
 '629.20E£',
 '629.20E£',
 '631.38E£',
 '953.97E£',
 '940.52E£',
 '449.67E£',
 '775.44E£',
 '889.58E£',
 '889.58E£',
 '646.34E£']

In [13]:
df1 = pd.DataFrame(Prices)
df1

             0
0     438.74E£
1     913.62E£
2   1,084.41E£
3   1,090.13E£
4     864.87E£
5     670.05E£
6     983.05E£
7     319.22E£
8     755.78E£
9     760.82E£
10    859.49E£
11    549.85E£
12    533.88E£
13    689.04E£
14    750.06E£
15    785.87E£
16    571.37E£
17    873.28E£
18    615.58E£
19    629.20E£
20    819.49E£
21    418.74E£
22    635.25E£
23    646.34E£
24  1,029.78E£
25    629.20E£
26    629.20E£
27    631.38E£
28    953.97E£
29    940.52E£
30    449.67E£
31    775.44E£
32    889.58E£
33    889.58E£
34    646.34E£

In [14]:
df1.rename(columns={0:'Prices'}, inplace=True)
df1.head()

       Prices
0    438.74E£
1    913.62E£
2  1,084.41E£
3  1,090.13E£
4    864.87E£

In [15]:
df1['Prices'].replace('E£','', regex=True, inplace=True)
df1

      Prices
0     438.74
1     913.62
2   1,084.41
3   1,090.13
4     864.87
5     670.05
6     983.05
7     319.22
8     755.78
9     760.82
10    859.49
11    549.85
12    533.88
13    689.04
14    750.06
15    785.87
16    571.37
17    873.28
18    615.58
19    629.20
20    819.49
21    418.74
22    635.25
23    646.34
24  1,029.78
25    629.20
26    629.20
27    631.38
28    953.97
29    940.52
30    449.67
31    775.44
32    889.58
33    889.58
34    646.34

In [16]:
df1['Prices'].replace(',','',regex=True, inplace=True)
df1.tail()

    Prices
30  449.67
31  775.44
32  889.58
33  889.58
34  646.34

In [17]:
df1['Prices'] = pd.to_numeric(df1['Prices'])
df1.tail()

    Prices
30  449.67
31  775.44
32  889.58
33  889.58
34  646.34

In [18]:
df_flat = df.join(df1)
df_flat

                                                Names   Prices
ID
0           Men PU Leather British Style Casual Shoes   438.74
1      Men Outdoor Waterproof Warm Lining Ankle Boots   913.62
2    MenicoMenico Men Genuine Leather Soft Sole Sh...  1084.41
3       MenicoMenico Genuine Cow Leather Hole Loafers  1090.13
4            Men Stylish Color Blocking Leather Shoes   864.87
5         Men Cloth Breathable Slip-ons Casual Shoes    670.05
6    MenicoMenico Men Leather Non Slip Soft Casual...   983.05
7                  Men Canvas Breathable Casual Shoes   319.22
8    MenicoMen Hand Stitching Soft Sole Leather Shoes   755.78
9              Men Non Slip Soft Casual Leather Shoes   760.82
10       Men Hand Stitching Leather Soft Casual Shoes   859.49
11                  Men Comfy Round Toe Leather Shoes   549.85
12                Men Brogue Leather Splicing Oxfords   533.88
13                       Men Comfy Soft Leather Shoes   689.04
14        Men Leather Splicing Non Slip Casual Shoes    750.06
15        MenicoMen Genuine Cow Leather Comfy Loafers   785.87
16                   Men Comfy Soft Cow Leather Shoes   571.37
17       Men Comfy Anti-collision Toe Leather Loafers   873.28
18     MenicoMenico Men Slip On Casual Leather Shoes    615.58
19      MenicoMenico Men Hand Stitching Leather Shoes   629.20
20     Men Non Slip Soft Leather Casual Driving Shoes   819.49
21               Men Canvas Slip On Soft Casual Shoes   418.74
22       MenicoMenico Comfy Round Toe Leather Loafers   635.25
23      MenicoMenico Comfy Microfiber Leather Loafers   646.34
24      MenicoMen Cow Leather Soft Sole Causal Shoes   1029.78
25   MenicoMen Microfiber Leather Non Slip Casual ...   629.20
26   MenicoMen Microfiber Leather Non-slip Outdoor...   629.20
27             Men Stylish Microfiber Leather Oxfords   631.38
28       MenicoMenico Men Vintage Comfy Suede Loafers   953.97
29                 Men Outdoor Work Style Comfy Shoes   940.52
30        Men Washed Canvas Soft Slip On Casual Shoes   449.67
31  Men Hand Stitching Non-slip Casual Leather Shoes    775.44
32          Men Hand Stitching Non Slip Leather Shoes   889.58
33     Men Cow Leather Non Slip Casual Driving Shoes    889.58
34   MenicoMenico Men Comfy Round Toe Leather Loafers   646.34

In [19]:
df_flat.shape

(35, 2)

In [20]:
df_f = pd.DataFrame({'Type':['Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat','Flat']})
df_f

    Type
0   Flat
1   Flat
2   Flat
3   Flat
4   Flat
5   Flat
6   Flat
7   Flat
8   Flat
9   Flat
10  Flat
11  Flat
12  Flat
13  Flat
14  Flat
15  Flat
16  Flat
17  Flat
18  Flat
19  Flat
20  Flat
21  Flat
22  Flat
23  Flat
24  Flat
25  Flat
26  Flat
27  Flat
28  Flat
29  Flat
30  Flat
31  Flat
32  Flat
33  Flat
34  Flat

In [24]:
df_data = df_f.join(df_flat)
df_data

    Type                                              Names   Prices
0   Flat          Men PU Leather British Style Casual Shoes   438.74
1   Flat     Men Outdoor Waterproof Warm Lining Ankle Boots   913.62
2   Flat   MenicoMenico Men Genuine Leather Soft Sole Sh...  1084.41
3   Flat      MenicoMenico Genuine Cow Leather Hole Loafers  1090.13
4   Flat           Men Stylish Color Blocking Leather Shoes   864.87
5   Flat        Men Cloth Breathable Slip-ons Casual Shoes    670.05
6   Flat   MenicoMenico Men Leather Non Slip Soft Casual...   983.05
7   Flat                 Men Canvas Breathable Casual Shoes   319.22
8   Flat   MenicoMen Hand Stitching Soft Sole Leather Shoes   755.78
9   Flat             Men Non Slip Soft Casual Leather Shoes   760.82
10  Flat       Men Hand Stitching Leather Soft Casual Shoes   859.49
11  Flat                  Men Comfy Round Toe Leather Shoes   549.85
12  Flat                Men Brogue Leather Splicing Oxfords   533.88
13  Flat                       Men Comfy Soft Leather Shoes   689.04
14  Flat        Men Leather Splicing Non Slip Casual Shoes    750.06
15  Flat        MenicoMen Genuine Cow Leather Comfy Loafers   785.87
16  Flat                   Men Comfy Soft Cow Leather Shoes   571.37
17  Flat       Men Comfy Anti-collision Toe Leather Loafers   873.28
18  Flat     MenicoMenico Men Slip On Casual Leather Shoes    615.58
19  Flat      MenicoMenico Men Hand Stitching Leather Shoes   629.20
20  Flat     Men Non Slip Soft Leather Casual Driving Shoes   819.49
21  Flat               Men Canvas Slip On Soft Casual Shoes   418.74
22  Flat       MenicoMenico Comfy Round Toe Leather Loafers   635.25
23  Flat      MenicoMenico Comfy Microfiber Leather Loafers   646.34
24  Flat      MenicoMen Cow Leather Soft Sole Causal Shoes   1029.78
25  Flat   MenicoMen Microfiber Leather Non Slip Casual ...   629.20
26  Flat   MenicoMen Microfiber Leather Non-slip Outdoor...   629.20
27  Flat             Men Stylish Microfiber Leather Oxfords   631.38
28  Flat       MenicoMenico Men Vintage Comfy Suede Loafers   953.97
29  Flat                 Men Outdoor Work Style Comfy Shoes   940.52
30  Flat        Men Washed Canvas Soft Slip On Casual Shoes   449.67
31  Flat  Men Hand Stitching Non-slip Casual Leather Shoes    775.44
32  Flat          Men Hand Stitching Non Slip Leather Shoes   889.58
33  Flat     Men Cow Leather Non Slip Casual Driving Shoes    889.58
34  Flat   MenicoMenico Men Comfy Round Toe Leather Loafers   646.34

In [25]:
df_data.index.name='ID'

In [26]:
df_data.to_csv('Flat.csv')